# Virtual Environment
venv/
env/

# Environment Variables
.env

# Databases & Vector Stores
databases/
*.sqlite
chroma_db/
chroma.sqlite3

# Audio Files & Logs
*.mp3
*.wav
logs/
*.log

# Python Cache
__pycache__/
*.pyc